/lightside
*.log
.metadata/
*.class
IDSAIAgent/runtime/logs/*
lightside/lightside_log.log
IDSAIAgent/IDSAIAgent.launch
IDSAIAgent/IDSAIAgent.launch
lightside/lightside_log.log
WeatherLegacyAgent/bin/build.xml
MTurkLightSideLegacyAgent/bin/build.xml
